@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor-background-1: #E5E5E5;
    --cor-background-2: rgba(255,255,255,0.9);

    --cor-tema-1: #CF2B2B;
    --cor-tema-2: #32B72F;
    --cor-tema-3: #50D074;
    --cor-tema-4: #CBCBCB;

    --cor-fonte-1: #000000;
    --cor-fonte-2: #333333;
    --cor-fonte-3: #A6A6A6;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--cor-background-1);
}

/* || CABECALHO || */

.cabecalho {
    width: 100vw;
    height: 92px;
    background-color: var(--cor-tema-1);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
}

.cabecalho * {
    color: white;
}

.cabecalho a {
    padding-left: 21px;
}

.cabecalho h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    margin-bottom: 5px;
}

.cabecalho p {
    font-size: 18px;
}

/* || RODAPE || */

.rodape {
    width: 100vw;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.rodape__botao {
    border: none;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    background-color: var(--cor-tema-4);
    color: white;
    text-align: center;
    padding: 8px 50px;
    font-size: 20px;
    cursor: pointer;
}

/* || CONTEUDO || */

.conteudo {
    width: 100vw;
    margin-top: 96px;
    margin-bottom: 108px;
}

.conteudo section {
    margin-left: 19px;
    margin-top: 27px;
}

.conteudo h2 {
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: var(--cor-fonte-2);
}